<!DOCTYPE html>
<html>
<head>
  <title>Accounting</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.4.1/jsgrid.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.4.1/jsgrid-theme.min.css" rel="stylesheet"/>
</head>
<body>

<%= render 'layouts/navigation' %>

<div class="container">
  <%= flash_messages %>

  <%= yield %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.4.1/jsgrid.js"></script>
</body>
</html>
